div{
    width: 300px;
    height: 30px;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    margin: auto;
    margin-top: 30px;
    font-family: sans-serif;
}
div:empty{
    background-color: red;
}