div{
    width: 100px;
    height:100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    color: #ff5722;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: -5px 0 0 0 #2196f3,5px 0 0 0 #ff5722;
}