.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template: 50px 1fr / repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.grid div{
    background-color: #607d8b;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    counter-increment: numbers;
}
.grid div::before{
    content: "Element " counter(numbers);
    color: white;
    position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}