body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
span{
    width: 50px;
    height: 50px;
    position: relative;
    border: 5px solid;
    background-color: #eee;
    border-color: #000 #000 transparent #000 ;
    box-sizing: border-box;
    animation-name: spinner;
    animation-duration: 1s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

@keyframes spinner {
    to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}