div{
    width: 400px;
    height: 400px;
    background-image: url(../images/bg.png);
    background-color: #EEE;
    margin-bottom: 20px;
}
.assign-4-shape-1{
    background-repeat: no-repeat;
    background-size:80%;
}
.assign-4-shape-2{
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 300px 400px;
}
.assign-4-shape-3{
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 400px 300px;
}
.assign-4-shape-4{
    background-repeat: no-repeat;
    background-position: right bottom;
}