*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-transform: capitalize;
}
.parent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.child{
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin-bottom: 20px;
}
h3{
    margin-bottom: 5px;
}
/* mobile & samll screens */
@media (max-width: 768px){
    .child{
        width: calc(100% - 10px);
    }
}
/* meduim screens */
@media (min-width: 789px){
    .child{
        width: calc(50% - 10px);
    }
    h3{
        color: red;
    }
}
/* large screens */
@media (min-width: 1200px){
    .child{
        width: calc(25% - 10px);
    }
    h3{
        color: #26a498;
    }
}