p{
    width:400px;
    padding: 15px;
    background-color: #eee;
    margin: auto;
    font-family: sans-serif;
    position: relative;
    margin-top: 50px;
    border-left: 5px solid red;
}

p::before{
    content: attr(data-person);
    background-color: #d4d4d4;
    padding: 10px;
    position: absolute;
    left: -100px;
    bottom: 0;
}
p::after{
    content: "";
    position: absolute;
    top: 25%;
    left: -30px;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent red transparent transparent;
    
}