*{
    box-sizing: border-box;
}
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template: repeat(6, auto) / repeat(3, 1fr);
    gap: 20px;
}
.grid div{
    background-color: #2196f3;
    color: #fff;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
    font-weight: 700;
}
.five{
    grid-area: 3 / 2 / 6 / 4;
}
.one{
    grid-area: 6 / 1 / 7 /4;
}
.eight{
    grid-area: 1 / 1 / 2 /4;
}
.two{
    grid-area: 2 / 1 / 3 / 3;
}