:root{
    --main-color:#ff5722;
    --text-color:#fff;
}
h1{
    width: 150px;
    margin: 30px auto;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
h1::before,h1::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: var(--main-color);
}
h1::before{
    transform: skew(10deg,10deg);
    -webkit-transform: skew(10deg,10deg);
    -moz-transform: skew(10deg,10deg);
    -ms-transform: skew(10deg,10deg);
    -o-transform: skew(10deg,10deg);
}
h1::after{
    transform: skew(-10deg,-10deg);
    -webkit-transform: skew(-10deg,-10deg);
    -moz-transform: skew(-10deg,-10deg);
    -ms-transform: skew(-10deg,-10deg);
    -o-transform: skew(-10deg,-10deg);
}