/* assignment 1 */
.child .title{
    color:red
}
.child + .title{
    color: blue;
}
p, .parent + .title{
    color: green;
}
/* assignment 2 */
.ass2{
    text-transform: capitalize;
    padding: 10px;
    background-color: brown;
    margin-top: 10px;
    width: fit-content;
    height: 15px;
    overflow: hidden;
    color: white;
}