:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}

div {
    color: var(--mainColor, red);
    border: 2px solid var(--mainColor, black);
    padding: var(--mainPadding, 10px);
    margin-top: 20px;
    font-family: sans-serif;
}