div{
    box-sizing: border-box;
}
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    gap: 20px 20px;
    grid-template: 1fr auto / auto repeat(2, 1fr) auto;
}
.grid div{
    background-color: #403f3f;
    color: #fff;
    display: grid;
    align-content: center;
    justify-content: center;
    font-weight: 700;
    font-family: sans-serif;
}